.body {
    margin: 8rem;
}
.accountLink, .aboutLink {
    text-decoration: none;
}
.contactLink {
    text-decoration: none;
    color: black;
}
.emailLink {
    text-decoration: none;
    color: black;
}
.about {
    margin: 0 10rem;
    padding: 5px;
    background-color: #FF8811;
    border-color: #5EB1BF;
    color: white;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    width: 16rem;
    text-align: center;
    font-size: 20px;
}
.about:hover {
    background-color: #5EB1BF;
}
.account {
    margin: 0 10rem;
    padding: 5px;
    color: #FF8811;
    background-color: #fae8d6;
    border-radius: 5px;
    font-size: 20px;
    width: 16rem;
    text-align: center;
}
.account:hover {
    background-color: #5EB1BF;
}
.validInfoContainer, .aboutYou {
    text-align: center;
}
.validInfo li {
    list-style: none;
    display: flex;
    align-items: center;
}
.validInfo i {
    padding: 10px;
    color: #5EB1BF;
}
.validInfo p {
    margin: 10px;
}
.aboutYou li {
    list-style: none;
    display: flex;
    align-items: center;
}
.aboutYou i {
    padding: 10px;
    color: #5EB1BF;
}
.aboutYou p {
    margin: 10px;
}
@media screen and (max-width: 768px) {
    .accountImg img {
        max-width: 350px;
    }
    .accountContainerFlex {
        display: flex;
    }
    .about, .account {
        margin: 0;
    }
}