.body {
    margin: 8rem;
}
.aboutAccount {
    padding: 10px;
    height: 20%;
    background-color: #FF8811;
    border-color: #5EB1BF;
    color: white;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    width: 244%;
    text-align: center;
    font-size: 20px;
    align-items: center;
}
.aboutAccount:hover {
    background-color: #DF6900;
}
.settings li {
    list-style: none;
    display: flex;
    align-items: center;
}
.settings i {
    padding: 10px;
    color: #5EB1BF;
}
.settings p {
    margin: 10px;
}
.passwordLink {
    text-decoration: none;
    color: black;
}
.passwordLink:hover {
    background-color: #00b4d8;
    color: #fff;
    border-radius: 10px;
    width: 100%;
    text-align: start;
}
.emergencyContactLink {
    text-decoration: none;
    color: black;
}
.emergencyContactLink:hover {
    background-color: #00b4d8;
    color: #fff;
    border-radius: 10px;
    width: 100%;
    text-align: start;
}
.helpCentreLink {
    text-decoration: none;
    color: black;
}
.helpCentreLink:hover {
    background-color: #00b4d8;
    color: #fff;
    border-radius: 10px;
    width: 100%;
    text-align: start;
}
.btnLogout {
    background-color: #FF8811;
}
@media screen and (max-width: 768px) {
    .aboutAccount, .account {
        margin: 0;
    }
}