.background-search {
    background-color: #fae8d6;
}

.date {
    width: 100%;
}

.place-top-padding {
    padding-top: 10px;
}
.btn-carpool-search {
    width: 100%;
    height: 100%;
    border: none;
}
.btn-carpool-book {
    border: none;
    height: 39%;
}

