.background-search {
    background-color: #fae8d6;
}

.date {
    width: 100%;
}

.place-top-padding {
    padding-top: 10px;
}

.btn-book-ride {
    border: none;
    height: 50%;
}

.btn-modal-container {
    padding: 20px;
    width: 100%;
}

.btn-canel-modal {
    background-color: #929096;
    border: none !important;
    border-radius: 5px;
    width: 70% !important;
    height: 200% !important;
    margin: -20px 30px;
    color: #FFF;
}
.btn-book-modal {
    width: 70%;
    height: 200%;
    margin: -20px 30px;
}

