.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}
.btnContact {
    margin: 10px 7rem;
    background-color: #FF8811;
}
.contactHeading {
    padding: 20px 0;
}
@media screen and (max-width: 768px) {
    .image-contact img {
        display: none;
    }
}