.body {
    margin: 8rem;
}
.verify-contact h1 {
    text-align: center;
}
.container-phone {
    margin: 10rem;
}
.image-container img {
    width: 30%;
    margin: 0 36rem;
}
.labelInput {
    margin-bottom: 10px;
    padding: 20px;
}
.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}
/* .flag {
    width: 100% !important;
} */