.button1-info{
   width: 150px;
}
.change1-info .Mui-selected{
    color: #ff8811 !important;
}
.MuiTabs-indicator {
    background-color: #ff8811 !important;
}
.btn-comride-drive {
    background-color: #FF8811;
    border: none;
    color: #FFF;
    font-size: 20px;
    border-radius: 5px;
    width: 180%;
    padding: 10px;
}
.btn-comride-drive:hover {
    background-color: #DF6900;
}
.button1-inf-container{
   width: 100%;
}
.button1-info {
    width: 200px;
}
.change1-info .Mui-selected{
    color: #ff8811 !important;
}
.MuiTabs-indicator {
    background-color: #ff8811 !important;
}

