.button1-inf-container{
   width: 100%;
}
.button1-info {
    width: 200px;
}
.change1-info .Mui-selected{
    color: #ff8811 !important;
}
.MuiTabs-indicator {
    background-color: #ff8811 !important;
}

