.btnEditTable {
    background-color: #FF8811;
    width: 15%;
    border-radius: 8px;
    margin: 20px;
}
.CancelButton {
    background-color: transparent;
    color: #FF8811;
}
.inputEditTable {
    width: 46rem;
    padding: 10px;
    border-radius: 8px;
    margin: 4px;
}