.btnEditTable {
    background-color: #FF8811;
    width: 18%;
    height: 60%;
    border-radius: 5px;
    margin: 20px;
    font-size: 20px;
    border: none;
}
.CancelButton {
    background-color: #FFF;
    color: #FF8811;
    border: 3px solid #FF8811;
}
.saveButton:hover {
    background-color: #DF6900;
}
.CancelButton:hover {
    background-color: #fae8d6;
    color: #FF8811;
}
.inputEditTable {
    width: 46rem;
    padding: 10px;
    border-radius: 8px;
    margin: 4px;
}