.image-left-pic-container-fgp {
    background-color: #fae8d6;
    height:100vh;
}
img, svg {
    vertical-align: middle;
}
.fgp-form {
    margin-top: 60px;
}
@media screen and (max-width: 768px) {
    .image-left-pic-container-fgp{
        display: none;
    }
    .fgp-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}