.image-left-pic-container-fgp {
    background-color: #fae8d6;
    height:100vh;
}
img, svg {
    vertical-align: middle;
}
.fgp-form {
    margin-top: 60px;
}
.btn-close-fgp{
    display: none;
    float: left;
}
.btn-fgp-srq{
    background-color: #ff8811;
    border: 1px solid #fff;
}
.btn-fgp-srq:hover{
    background-color: #DF6900 !important;
    color: #fff !important;
}
@media screen and (max-width: 768px) {
    .image-left-pic-container-fgp{
        display: none;
    }
    .btn-close-fgp{
        display: block;
        background-color: transparent;
        border: 1px solid transparent;
        color: #ff8811;
    }
    .btn-close-fgp{
        background-color: transparent !important;
        border: 1px solid transparent !important;
        color: #DF6900 !important;
    }
    .fgp-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}