.image-left-pic-container {
    background-color: #fae8d6;
    height:100vh;
}
img, svg {
    vertical-align: middle;
}
.input-container{
    width: 90%;
}
.button-info{
    border-color: #fae8d6 !important;
    background-color: #ff8811;
    border-radius: 8px;
}
.padding-top-login-signup {
    margin-top: 60px;
}
.btn-close-login{
    display: none;
    float: left;
}
.btn-login-sbmt{
    background-color: #ff8811;
    border: 1px solid #fff;
    color: #fff;
}
.btn-login-sbmt:hover{
    background-color: #DF6900 !important;
    border: 1px solid #fff;
    color: #fff;
}
@media screen and (max-width: 769px) {
#picture-login {
    display: none;
}
.image-left-pic-container {
    display: none;
}
.btn-close-login{
    display: block;
    background-color: transparent;
    color: #ff8811;
    border: 1px solid transparent;
}
.btn-close-login:hover{
    background-color: transparent !important;
    border: 1px solid transparent !important;
    color: #DF6900;
}
.li-email, .li-pass {
    width: 80%;
}
}
