.image-left-pic-container {
    background-color: #fae8d6;
    height:100vh;
}
img, svg {
    vertical-align: middle;
}
.input-container{
    width: 90%;
}
.button-info{
    border-color: #fae8d6 !important;
    background-color: #ff8811;
    border-radius: 8px;
}
.padding-top-login-signup {
    margin-top: 60px;
}
.btn-close-login{
    display: none;
    float: left;
}
.btn-login-sbmt{
    background-color: #ff8811;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    width: 16%;
    padding: 10px;
}
.btn-login-sbmt:hover{
    background-color: #DF6900 !important;
}
@media screen and (max-width: 769px) {
#picture-login {
    display: none;
}
.image-left-pic-container {
    display: none;
}
.btn-close-login{
    display: block;
    background-color: transparent;
    color: #ff8811;
    border: 1px solid transparent;
}
.btn-close-login:hover{
    background-color: transparent !important;
    border: 1px solid transparent !important;
    color: #DF6900;
}
.li-email, .li-pass {
    width: 80%;
}
@media screen and (max-width: 657px) {
    .btn-login-sbmt{
        width: 20%;
    }
@media screen and (max-width: 425px){
    .btn-login-sbmt{
        width: 30%;
    }
}
@media screen and (max-width: 390px) {
    .btn-login-sbmt{
        width: 35%;
    }
    
}
@media screen and (max-width: 375px) {
    .btn-login-sbmt{
        width: 40%;
    }
@media screen and (max-width: 320px) {
    .btn-login-sbmt{
        width: 50%;
    }   
}
}
}
}
