.formInput {
    padding: 20px;
    align-items: center;
    width: 70%;
    text-align: center;
}
.formInput p {
    text-align: start;
}
.inputForm {
    padding: 15px;
    margin: 20px 0;
    border-radius: 8px;
}
.formButton {
    background-color: #FF8811;
    border-radius: 10px;
    width: 29%;
    font-size: 15px;
}
.formHeading {
    padding-left: 15px;
}
@media screen and (max-width: 768px) {
    .formButton {
        margin: 0;
        width: 100%;
    }
    .col-5 img {
        display: none;
    }
}
