.formInput {
    padding: 20px;
    align-items: center;
    width: 70%;
    text-align: center;
}
.formInput p {
    text-align: start;
}
.inputForm {
    padding: 15px;
    margin: 20px 0;
    border-radius: 8px;
}
.btn-change-password {
    background-color: #FF8811;
    border-radius: 5px;
    border: none;
    font-size: 20px !important;
    color: #FFF;
    width: 49%;
    padding: 10px;
    font-size: 15px;
}
.btn-change-password:hover {
    background-color: #DF6900;
}
.formHeading {
    padding-left: 15px;
}
@media screen and (max-width: 768px) {
    .formButton {
        margin: 0;
        width: 100%;
    }
    .img-pwd img {
        display: none;
    }
    .img-pwd {
        display: none;
    }
    .formHeading {
        width: 150%;
        margin: 0 40px;
    }
    .formInput-pwd {
        width: 300%;
        margin: 0 -100px;
    }
}
@media screen and (max-width: 425px) {
    .formHeading {
        width: 100%;
        margin: 0 -50px;
    }
    .formInput-pwd {
        width: 2000%;
        margin: 0 -120px;
    }
}
