.body {
    margin: 3rem;
}
.tripHeading-button {
    /* display: flex; */
    justify-content: center;
    cursor: pointer;
    margin-bottom: 50px;
}
.trips:hover {
    background-color: #5EB1BF;
}
.trips {
    margin: 0 10rem;
    padding: 5px;
    background-color: #FF8811;
    border-color: #5EB1BF;
    color: white;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    width: 16rem;
    text-align: center;
    font-size: 20px;
}
.history:hover {
    background-color: #5EB1BF;
}
.history {
    margin: 0 10rem;
    padding: 5px;
    color: #FF8811;
    background-color: #fae8d6;
    border-radius: 5px;
    font-size: 20px;
    width: 16rem;
    text-align: center;
}
.accordionContent button{
    width: 50%;
}
.accordion-button{
    background-color: #fae8d6 !important;
    color: #FF8811 !important;
    border-radius: 15px !important;
}
.historyLink {
    text-decoration: none;
}
.tripLink {
    text-decoration: none;
}
.tripHeader {
    text-align: start;
}