.tripHeading-button {
    display: grid;
    grid-template-columns: 5fr 5fr;
    cursor: pointer;
    margin-bottom: 20px;
}
.TripContent {
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
}
.TripContent {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr 1fr;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
}
.TripContent i {
    padding-left: 80px;
}
.trips:hover {
    background-color: grey;
}
.trips {
    width: 15rem;
    margin: auto;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
}
.history:hover {
    background-color: grey;
}
.history {
    width: 15rem;
    margin: auto;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
}
.historyLink {
    text-decoration: none;
    color: black;
}
.tripLink {
    text-decoration: none;
    color: black;
}
.tripContainerGrid {
    display: grid;
    grid-template-columns: 10fr 1fr;
}
.bookAgain {
    border-radius: 8px;
    border-width: 1px;
    box-shadow: 5px 5px 10px;
    height: 50%;
    margin: 15px;
    cursor: pointer;
}
.tripHeader {
    text-align: start;
}