.preferenceContainer p {
    color: #00b4d8;
}
.preferenceContainer span {
    font-weight: bolder;
}
.preferenceContainer {
    margin: 30px 0;
}
.rowPreference {
    margin: 20px 0;
}
.chattiness:hover {
    background-color: #00b4d8;
    border-radius: 10px;
}
.music:hover {
    background-color: #00b4d8;
    border-radius: 10px;
}
.smoking:hover {
    background-color: #00b4d8;
    border-radius: 10px;
}
.pets:hover {
    background-color: #00b4d8;
    border-radius: 10px;
}
.preferenceContainer p:hover {
    color: #fff;
}
@media screen and (max-width: 768px) {
    .tp-container {
        width: 150%;
        margin: 0 -150px;
    }
}
@media screen and (max-width: 425px) {
    .tp-container {
        display: grid;
        width: 300%;
        margin: 0 -125px;
    }
}